<p>Dear <%= @customer.name %>,</p>
<p>The event <strong><%= @event.name %></strong> you booked has been updated.</p>
<p>New Date: <%= @event.date %></p>
<p>New Venue: <%= @event.venue %></p>
<p>Stay tuned for more updates!</p>